* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 28vw;
    background: rgb(255,134,175);
    background: linear-gradient(60deg, rgba(255,134,175,1) 0%, rgba(152,152,255,1) 38%, rgba(137,255,223,1) 65%, rgba(0,212,255,1) 100%);
}

a {
    text-decoration: none;
    color: black;
}


header {
    background-color: rgb(210, 176, 241);
    height: 100px;
    padding-top: 39px;
    /*border: 3px outset rgb(0, 0, 0);*/
}

.list {
    list-style-type: none;
    padding: 0;
}

.listitem {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(121, 121, 121);
    /*border-right: 2px solid rgb(0, 0, 0);*/
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.2em;
    font-weight: thin;

}

.listitem:hover {
    border-left: 5px solid rgb(210, 176, 241);
}

#main-doc {
    position: absolute;
    margin-left: 28vw;
    background: rgb(255,134,175);
    background: linear-gradient(60deg, rgba(255,134,175,1) 0%, rgba(152,152,255,1) 38%, rgba(137,255,223,1) 65%, rgba(0,212,255,1) 100%);
}

section {
    margin-top: 30px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

code {
    background-color: rgb(51, 51, 51);
    color: rgb(227, 142, 248);
    padding: 5px;

}

h1 {
    margin-top: 20px;
}

p {
    padding: 10px;
    margin: 5px;
}